[submodule ".vim/bundle/vim-notes"]
	path = .vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes
[submodule ".vim/bundle/youcompleteme"]
	path = .vim/bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule ".pyvenvwrapper"]
	path = .pyvenvwrapper
	url = https://github.com/cs-cordero/pyvenvwrapper.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
