/*

!.gitignore
!.bashrc
!.vimrc
!.tmux.conf

!/.vim/
!/.vim/*
!/.vim/*/*
!/.vim/*/*/*
!/.vim/*/*/*/*
!/.vim/*/*/*/*/*
!/.vim/*/*/*/*/*/*
!/.vim/*/*/*/*/*/*/*
!/.vim/*/*/*/*/*/*/*/*
!/.vim/*/*/*/*/*/*/*/*/*
!/.vim/*/*/*/*/*/*/*/*/*/*
