/*

!.bashrc
!.gitignore
!.gitmodules
!.less
!.prettierrc
!.tmux.conf
!.tmux-master.conf
!.tmux-legacy.conf
!.tmux-osx.conf
!.tmuxline.conf
!.vimrc
!color-check.sh
!.git-completion.bash

!/.vim/
!/.vim/**
!/.vim/*
!/.vim/*/*
!/.vim/*/*/*
!/.vim/*/*/*/*
!/.vim/*/*/*/*/*
!/.vim/*/*/*/*/*/*
!/.vim/*/*/*/*/*/*/*
!/.vim/*/*/*/*/*/*/*/*
!/.vim/*/*/*/*/*/*/*/*/*
!/.vim/*/*/*/*/*/*/*/*/*/*
.vim/.netrwhist
