source ~/.config/nvim/init.vim
set clipboard+=ideaput

nnoremap o o

# These are mapped in the nvim/init.vim to call pumvisible() which is unavailable in IntelliJ
inoremap <TAB> <TAB>
inoremap <cr> <cr>
inoremap <S-Tab> <S-Tab>

nmap gqq :action com.andrewbrookins.idea.wrap.WrapAction<CR>

nnoremap <Enter> :let &hlsearch = &hlsearch ? 0 : 1<CR>

system("defaults write com.jetbrains.intellij.ce ApplePressAndHoldEnabled -bool false")
